
.constructionContainer {
    min-height: 100vh;
    background-color:  hsl(210, 30%, 6%);
    color: #fff;
}

.constructionTextContainer p {

    font-size: 3.5vw;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    
}
.constructionIcon {

    width: 16vw;
    height: 18vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin-top: 1%;
    margin-bottom: 10%;
    font-size: 11vw;
}


