.footerContainer {
    padding-top: 5%;
    background-color: hsl(210, 30%, 10%);
    color: hsl(0, 0%, 100%);
    background: linear-gradient(to bottom,hsl(210, 30%, 6%) 30%,   hsl(210, 30%, 10%) 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textTitleFooter {
    font-size: 1.4vw; 
    margin-bottom: 1vw;
    font-weight: bold;
}

.textFooter {
    font-size: 1.2vw; 
}

.listFooter {
    font-size: 1.2vw; 
    text-decoration: underline;
    color: white;
}

@media (max-width: 800px) {

    .textTitleFooter {
        font-size: 2vw; 
        
    }
    
    .textFooter {
        font-size: 1.8vw; 
    }
    
    .listFooter {
        font-size: 1.8vw; 
    }
}

@media (max-width: 600px) {


    .textTitleFooter {
        font-size: 3.2vw; 
        
    }
    
    .textFooter {
        font-size: 3vw; 
    }
    
    .listFooter {
        font-size: 3vw; 
       
    }
}
