.profilLoginContainer {
    background-color: hsl(210, 30%, 15%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    ;
}

.cardLoginContainer {

    background-color: hsl(210, 30%, 10%); 

}

.imageLoginContainer {
    
    width: 10.41vw;
}

.profilUserLoginImage {

    align-items: center;
    width: 8.5vw;
    opacity: 0.9;
}

.profilLoginButton {

    overflow: visible;
    width: 10vw;
    height: 2.9vw;
    font-size: 1.09vw;
    font-weight: 400;
}

.dataLoginUsuario {
    margin-top: 9vw;
}

.dataLoginUsuario h1 {
    font-size: 2vw;
}

.dataLoginUsuario p {
        font-size: 1.3vw;
        font-weight: 400;
}

.infoUserLoginContainer {
    background-color: #f8f9fa;
}

.infoUserLoginContainer p {
    font-size: 1.1vw;
}

.profilUserOptionsContainer p {

    font-size: 1.5vw;
}

.profilUserOptionsContainer a {

    font-size: 1.2vw;
}

.myProfilUserContainer {

    background-color: #f8f9fa;
}

.myProfilUserContainer p {
    font-size: 1.3vw;
}

.recentActivityList {

    background-color: #f8f9fa;
    width: 100%;
}

.recentActivityListItem {

    background-color: #f8f9fa;
    color: black;
    width: 99%;
    border: solid 1% black;

}

.recentActivityListItem p {
    font-size: 1vw;;
    margin-left:1%;
}


