.loginHeroProfileContainer {
    background-color: hsl(210, 30%, 15%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    ;
}

.loginProfileContainer {
    
    padding: 0;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.loginCardContainer {

    background-color: hsl(210, 30%, 10%);  
}

.loginImageContainer {
    
    width: 14vw;
}

.loginProfileUserImage {

    align-items: center;
    width: 11vw;
    opacity: 0.9;
}

.loginProfileButton {

    overflow: visible;
    width: 10vw;
    height: 2.9vw;
    font-size: 1.09vw;
    font-weight: 400;
    margin-bottom: 12%;
}

.loginDataUser {
    margin-top: 9vw;
    width: auto;
}

.loginDataUser h1 {
    font-size: 2vw;
}

.loginDataUser p {
        font-size: 1.3vw;
        font-weight: 400;
}

.loginInfoUserContainer {
    background-color: #f8f9fa;
}

.loginInfoUserContainer p {
    font-size: 1.1vw;
}

.loginProfileUserOptionsContainer p {

    font-size: 1.5vw;
}

.loginProfileUserOptionsContainer a {

    font-size: 1.2vw;
}

.myLoginProfileUserContainer {

    background-color: #f8f9fa;
}

.myLoginProfileUserContainer a {
    font-size: 1.4vw;
}

.recentActivityList {

    background-color: #f8f9fa;
    width: 100%;
}

.recentActivityListItem {

    background-color: #f8f9fa;
    color: black;
    width: 99%;
    border: solid 1% black;

}

.recentActivityListItem p {
    font-size: 1vw;;
    margin-left:1%;
}


@media (max-width: 800px) {

.loginHeroProfileContainer {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .loginProfileContainer {
        
        width: 90vw;
        max-width: 90vw;
        
    }
    

    .loginImageContainer {
    
        padding: 0;
        margin: 0;
        margin-right: 3%;
      
    }
    
    .loginProfileUserImage {
    
        width: 13vw;  
        height: 13vw;   
        margin-bottom: 4%;   
    }
    
    .loginProfileButton {

        overflow: visible;
        width: 14vw;
        height: 4.5vw;
        font-size: 1.8vw;
        justify-content: center;
        font-weight: 500;   
    }
    
   
    .loginDataUser h1 {
        font-size: 3.5vw;
    }
    
    .loginDataUser p {
            font-size: 2.4vw;
            font-weight: 400;
            
    }
   
    .loginInfoUserContainer p {
        font-size: 2vw;
    }
    
    .loginProfileUserOptionsContainer p {
    
        font-size: 2.3vw;
    }
    
    .loginProfileUserOptionsContainer a {
    
        font-size: 2.2vw;
    }
    
 
    
    .myLoginProfileUserContainer a {
        font-size: 2.3vw;
    }
    
   
    
    .recentActivityListItem p {
        font-size: 2vw;;
        
    }

}


@media (max-width: 600px) {

    .loginImageContainer {
    
        width: 18vw;
       
    }
    
    .loginProfileUserImage {
    
        width: 17vw;  
        height: 17vw;   
        margin-bottom: 4%;   
    }
    
    .loginProfileButton {

        width: 18vw;
        height: 5vw;
        font-size: 2.5vw;
        justify-content: center;
        font-weight: 500;   
    }
    
   
    .loginDataUser h1 {
        font-size: 4.5vw;
    }
    
    .loginDataUser p {
            font-size: 3.1vw;
            font-weight: 400;
            
    }
   
    .loginInfoUserContainer p {
        font-size: 3vw;
    }
    
    .loginProfileUserOptionsContainer p {
    
        font-size: 3.3vw;
    }
    
    .loginProfileUserOptionsContainer a {
    
        font-size: 3.2vw;
    }
    
 
    
    .myLoginProfileUserContainer a {
        font-size: 3.2vw;
    }
    
   
    
    .recentActivityListItem p {
        font-size: 2.7vw;;
        
    }

}

